@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
  background-color:#282c34;
  margin:0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
}